<!doctype html>
<html lang="en">
<head>
  <title>Homer control for {{ name }} </title>
</head>

<body>
  <a href="{{ url_for('homer.control') + '?id=' + id }}">Refresh</a>
  <form action="{{ url_for('homer.control') }}" id="control" method="POST">
    <input type="hidden" id="id" name="id" value="{{ id }}">
    {% for c in elements %}
    <div class="ctrlline">
      <label for="{{ c["id"] }}">{{ c["label"] }}:</label>
      <input type="text" id="{{ c["id"] }}" name="{{ c["id"] }}" value="{{ c["val"] }}">
      {% if c["stale"] %}
      <div class="stale">Stale</div>
      {% endif %}
      {% if c["submit"] %}
      <input type="submit" name="action" value="{{ c["id"] }}" />
      {% endif %}
    </div>
    {% endfor %}
  </form>
</body>
